<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <span class="title-section">Filtros</span>
    </li>
    <li style="padding: 0 12px;">
        <div class="col s12">
            <select class="browser-default" (blur)="filterByAvailability($event);">
                <option value="" disabled selected>Por disponibilidad</option>
                <option value="-1">Todos</option>
                <option value="1">Disponibles</option>
                <option value="0">No disponibles</option>
            </select>
        </div>
        <div style="font-family: Abel;">
            <label style="font-size: 1.1em; display: block; color: #ef7173;">Por precio</label>
            <input type="number" placeholder="Precio mínimo" min="0" style="display: inline-block; width: 45%; margin: 0 6px 0 0;" (blur)="minPriceFilter($event);">
            <input type="number" placeholder="Precio Máximo" min="0" style="display: inline-block; width: 45%; margin: 0 0 0 6px;" (blur)="maxPriceFilter($event);">
        </div>
        <div style="font-family: Abel;">
            <label style="font-size: 1.1em; display: block; color: #ef7173;">Por Cantidad</label>
            <input type="number" class="" min="0" placeholder="Cantidad máxima" (blur)="filterMaxQuantity($event);">
        </div>
    </li>
    <li>
        <span class="title-section">Categorías</span>
    </li>
    <li class="no-padding list-itemBar" *ngFor="let category of serviceStore.categories">
        <ul class="collapsible">
            <li>
                <a class="collapsible-header">{{category.name}}<i class="material-icons">label</i></a>
                <div class="collapsible-body">
                    <ul class="collapsible">
                        <li *ngFor="let level of category.sublevels">
                            <a class="collapsible-header" (click)="listByCategory(level.id, category.name + ' ' + level.name);">
                                {{level.name}}
                                <i class="material-icons">label_outline</i>
                            </a>
                            <div class="collapsible-body">
                                <ul class="collapsible">
                                    <li *ngFor="let sublevel of level.sublevels">
                                        <a class="collapsible-header" (click)="listByCategory(sublevel.id, category.name + ' ' + level.name + ' ' + sublevel.name);">
                                            {{sublevel.name}}
                                            <i class="material-icons">navigate_next</i>
                                        </a>
                                        <div class="collapsible-body">
                                            <ul class="collapsible">
                                                <li *ngFor="let endpoint of sublevel.sublevels">
                                                    <a class="collapsible-header" (click)="listByCategory(endpoint.id, category.name + ' ' + level.name + ' ' + sublevel.name + ' ' +endpoint.name);">
                                                        {{endpoint.name}}
                                                        <i class="material-icons endpoint">radio_button_unchecked</i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>