<main>
    <div class="filters">
        <h3>{{serviceStore.titleList}}</h3>
        <ul>
            <li class="item-filter {{serviceStore.ordertype}}" title="Mostrar todos" (click)="orderProducts('Nombre');">
                Nombre
            </li>
            <li id="dispoibilidad" class="item-filter {{serviceStore.ordertype}}" title="Ordenar por dispoibilidad" (click)="orderProducts('Disponibilidad');">
                Disponibilidad
            </li>
            <li class="item-filter {{serviceStore.ordertype}}" title="Ordenar por precio" (click)="orderProducts('Precio');">
                Precio
            </li>
            <li class="item-filter {{serviceStore.ordertype}}" title="Ordenar por cantidad" (click)="orderProducts('Cantidad');">
                Cantidad
            </li>
        </ul>
        <label>
            Ordenados por:
            <span class="{{serviceStore.ordertype}} {{serviceStore.order}}">
                {{serviceStore.order}}
                <i class="large material-icons">sort</i>
            </span>
        </label>
    </div>
    <article class="product" *ngFor="let item of serviceStore.productslist" id="product_{{item.id}}">
        <div class="fade">
            <button (click)="addToShoppingCart(item.id);">
                Agregar
                <!--<i class="large material-icons">add_shopping_cart</i>-->
            </button>
        </div>
        <img src="assets/product.jpg" alt="{{item.name}}">
        <span class="name-product">{{item.name}}</span>
        <strong class="price-product">{{item.priceText}}</strong>
        <small class="quantity-produt available-{{item.available}}">{{item.quantity}}</small>
    </article>
</main>