main{
    padding-left: 350px;
    padding-right: 50px;
    padding-top: 50px;
}
thead{
    font-family: Abel;
    background-color: #ee6e73;
    color: white;
}
th{
    text-align: center;
}
i{
    background: #ee6e73;
    border-radius: 50%;
    padding: 4px;
    color: white;
    cursor: pointer;
}
input{
    width: 65px;
    height: 40px;
    text-align: center;
}
@media only screen and (max-width : 992px) {
    main{
        padding-left: 0px;
        padding-right: 0px;
    }
}